<nav id="nav">
  <div class="container">
    <ul class="right">
      <li>Become a Customer!</li>&nbsp;
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to 'Items', items_path %></li>
    </ul>
  </div>
</nav>