<div class="card">
  <div class="card-content">
    <h5>Address Information</h5><br />

    <b>Recipient: </b>
      <%= @address.recipient %><br /><br />
    
    <%= @address.street_1 %><br />

    <%= @address.city + ", " + @address.state + " " + @address.zip %> lbs<br />

  </div>
</div>
